{% extends 'base.html' %}

{% block title %}
    CSV Manager - Delete File
{% endblock %}

{% block content %}
    <form class="container my-3" action="" method="post" enctype="multipart/form-data">
    <h3 class="my-3 text-center black-text">DELETE FILE</h3>
    {% csrf_token %}
        <h5 class="text-danger">Are you sure you want to delete the file with description " {{ file_object.file_description }} " ?</h5>

        <input type="submit" class="btn btn-danger text-white" value="Yes, Delete this file">
        <a class="btn btn-secondary text-white" href={% url 'accounts:all_files' %}>Nope, take me back</a>

        {% if form.errors %}
              <ul>
                {% for key,value in form.errors.items %}
                  <li>{{ value }} - {{ key }}</li>
                {% endfor %}
              </ul>
        {% endif %}
    </form>
{% endblock %}