{% extends 'base.html' %}
{% load static %}
{% block title %}
    CSV Manager - File Details
{% endblock %}

{% block content %}
    <h3 class="text-center my-3 text-black-50">FILE DETAIL - CHART VIEW</h3>

    <div class="container my-3 d-flex justify-content-center">
        <div aria-label="Page navigation example" class="pagination_container">
          <ul class="pagination">

          </ul>
        </div>
    </div>
    <h4 class="text-center my-3 text-primary">LINE CHART</h4>
    <canvas id="lineChart" class="container-fluid my-3 mx-auto"></canvas>
    <h4 class="text-center my-3 text-primary">RADAR CHART</h4>
    <canvas id="radarChart" class="container-fluid my-3 mx-auto"></canvas>
    <div class="card w-75 mx-auto my-3">
      <div class="card-body">

      </div>
    </div>
    <div class="container text-center">
        <button class="btn btn-secondary" id="show_data_btn">Show Data</button>
    </div>
    <div class="container-fluid my-3" id="all_data_container">
    <h4 class="text-center my-3 text-primary">CSV DATA TABLE</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              {% for each_header in csv_headers %}
                  <th scope="col">{{ each_header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in file_data %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <script src={% static 'js/jquery.js' %}></script>
    <script src={% static 'js/charts.js' %}></script>
    <script src={% static 'js/file_detail.js' %}></script>
{% endblock %}