{% extends 'base.html' %}

{% block title %}
    CSV Manager - List All Files
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h3 class="text-center my-3 text-black-50">LIST ALL FILES</h3>
    <form method="get" class="search_container container bg-white text-black-50 p-2">
        <p>You can search file by file description.</p>
        <div class="input-group d-flex align-items-center my-3">
            <label for="file_description_text mx-2">Search Here</label>
            <input type="text" class="form-control m-2" name="file_description_text" id="file_description_text">
            <input type="submit" class="btn btn-success m-2" value="Search">
        </div>
    </form>

    {% for each_file in files %}
        <div class="container my-3 shadow rounded p-2 justify-content-between">
            <p>
                {{ each_file.file_description }}
            </p>
            <div class="container-fluid row">
                <p class="col-md-6">
                    {{ each_file.get_file_size }}
                </p>
                <div class="col-md-6 d-flex justify-content-end">
                    <a class="btn btn-primary m-1" href={% url 'accounts:update_file' id=each_file.id %}>Update</a>
                    <a class="btn btn-danger m-1" href={% url 'accounts:delete_file' id=each_file.id %}>Delete File</a>
                    <a class="btn btn-warning m-1" href={% url 'accounts:detail_file' id=each_file.id %}>View File</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}