<footer id="footer" class="container-fluid bg-white p-3">
    <h3 class="text-center text-black-50 my-3">CSV Manager</h3>
    <p class="text-primary">
        This web based application is a multi user application with authentication system. This would allow you to
        upload formatted csv files with limitations.
    </p>
    <p>
        File would be successfully uploaded only if it confirms to certain restrictions and checks which are applied.
    </p>
    <p>
        If the file is successfully uploaded, you can perform CRUD operations on it and see the charts in Line form
        as well as in Radar form.
    </p>
    <p>
        There is a search facility which you can use to filter files which you have uploaded, file description would
        be used for filtering so make sure you appropriately describe the file which you are uploading
    </p>
    <h5>Tech Stack used in this application is Django, Jquery, Django REST Framework, Bootstrap and Charts JS</h5>
</footer>