<footer id="footer" class="hoc clear">
    <div class="one_quarter first">
      <h6 class="heading">OUR STORY</h6>
      <p>We started in 2002 with a small capital and a small store in Mumbai.</p>
      <p>Since then, we have served more than 15 million happy customers.</p>
    </div>
    <div class="one_quarter">
      <h6 class="heading">CONNECT TO US</h6>
      <nav>
        <p>We are active on all major social networking platforms, please like our page and share
        your experiences with us.</p>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">UPCOMING EVENTS</h6>
      <article>
        <h2 class="nospace font-x1"><a href="#">PARTNERSHIP PROGRAM</a></h2>
        <time class="font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> August 2020</time>
        <p>Webinar on our partnership program where you can open your stores but use our brand name!  [&hellip;]</p>
      </article>
    </div>
    <div class="one_quarter">
      <h6 class="heading">OUR PRESENCE</h6>
      <ul class="nospace linklist">
        <li><a href="#">6+ Cities Covered</a></li>
        <li><a href="#">200 + Branches</a></li>
        <li><a href="#">18 Years of Trust</a></li>
        <li><a href="#">15 Million Happy Customers</a></li>
      </ul>
    </div>
</footer>