<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CSV Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'accounts:dashboard' %}>Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'accounts:logout' %}>Logout</a>
            </li>
      {% else %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'accounts:login' %}>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'accounts:register' %}>Register</a>
            </li>
      {% endif %}
      {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href={% url 'accounts:upload_file' %}>Upload File</a>
              <a class="dropdown-item" href={% url 'accounts:all_files' %}>List Uploaded Files</a>
            </div>
          </li>
      {% endif %}
    </ul>
    <div class="form-inline my-2 my-lg-0">
      {% if request.user.is_authenticated %}
          <h2 class="text-primary">
            Welcome, {{ request.user.username }}
          </h2>
      {% endif %}
    </div>
  </div>
</nav>